<h1>Sphinx Questionnaire</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="riddle1">What has a foot but no legs?</label>
    <input id="riddle1" name="riddle1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="riddle1">What becomes shorter when you add two letters to it?</label>
    <input id="riddle2" name="riddle2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
