<h1>Sphinx Questionnaire</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="riddle1">What has no legs but a foot?</label>
    <input id="r1" name="riddle1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="riddle1">What is shorter when you add two letters to it?</label>
    <input id="r2" name="riddle2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
